body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.info-box {
    min-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.range-button {
    min-width: 100px;
}

.nav-bar {
    background-image: linear-gradient(rgb(203 213 225), white);
}